# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Puppeteer browser instances
puppeteer/
